@import "../../styles/styles";

.input {
  background: $input-bg-color;
  border: 1px $border-color solid;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 300;
  height: 40px;
  padding: 0 16px;
  @media (max-width: 768px) {
    height: 40px;
  }
}