@import "../../styles/styles";

.wrapper {
  max-width: 1145px;
  width: 100%;
  background: $bg-form-contact-us;
  padding: 32px 64px;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    padding: 32px 32px;
  }
}

.form {
  display: grid;
  grid-template-rows: 40px 40px 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 32px;

  @media (max-width: 768px) {
    gap: 16px;
    display: flex;
    flex-direction: column;
  }
}

.title {
  text-align: center;
  padding-bottom: 8px;
  color: $text-color-dark-theme;
  font-size: 24px;
  font-weight: 500;
}

.wrapper-wholesales {
  background: $bg-color-form;
  padding: 32px 32px;
}

.title-wholesales {
  color: $text-color-main;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 32px;
}

.form-wholesales {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
