/*bg*/
$bg-color-light: #fff;
$bg-color-dark: #474A51;
$popup-bg-color: #0000004D;

/*fonts*/
$text-color-main: #474A51;
$text-color-dark-theme: #F5F5F5;
$copyrightColor: rgba(245, 245, 245, 0.40);

/*border*/
$border-color: #474A5173;
$border-color-light: #F5F5F5;
$border-checkbox: rgba(245, 245, 245, 0.35);

/*buttons*/
$submit-button-color: #474A51;
$text-button-submit-color: #FFF;
$button-dark: #474A51;

/*form*/
$bg-form-contact-us: #57B5CA;
$input-bg-color: #fff;
$checkbox-color: #F5F5F5;
$checkbox-active-color: #2BE080;
$checkbox-disable-color: rgba(245, 245, 245, 0.40);