@import "../styles/index";

.main {
  min-height: calc(100vh - 143px - 291px - 64px);
  padding: 32px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    min-height: calc(100vh - 111px - 272px - 32px);
    padding: 127px 0 0;
    margin: 0 16px;
  }
}

.title {
  font-weight: 300;
  @include title-h1;
}
