@import "../../styles/index";

.footer {
  background: $bg-color-dark;
  padding: 32px 0 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  @media (max-width: 425px) {
    gap: 16px;
  }
}

.logo {
  @media (max-width: 425px) {
    object-fit: cover;
    width: 180px;
  }
}

.contacts {
  display: flex;
  gap: 32px;

  @media (max-width: 425px) {
    flex-direction: column;
    gap: 16px;
  }
}

.contact {
  @include link;
  color: $text-color-dark-theme;
}

.copyright {
  @include link;
  color: $copyrightColor;
}